.btn {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    color: var(--white-cl);
    background-color: var(--btn-cl);
    border: 2px solid var(--btn-border-cl);
    border-radius: 6px;
    cursor: pointer;
    -webkit-box-shadow: 3px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 3px 8px 24px 0px rgba(66, 68, 90, 1);
}