.form-section {
  background-image: linear-gradient(
      90deg,
      rgba(130, 184, 231, 0.2) 0%,
      rgba(130, 184, 231, 0.2) 50%,
      rgba(130, 184, 231, 0.2) 100%
    ),
    url(../images/form/bg/form-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0, -125px 0;
}
.form-title {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.7) 100%
  );
  border: 2px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.label {
  position: relative;
  margin-bottom: 10px;
}
.placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgba(128, 128, 128, 0.75);
  font-weight: 400;
  .required {
    color: red;
  }
}
.input {
  padding: 10px;
  width: 100%;
  color: rgba(128, 128, 128, 0.75);
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
.texterea {
  padding: 10px;
  width: 100%;
  resize: none;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.5);

  &::placeholder {
    color: rgba(128, 128, 128, 0.75);
  }
}
.form-btn {
  align-self: center;
}

@include for-size(tablet) {
  .form-section {
    background-position: 0 0;
  }
  .form {
    margin: 0 auto;
    width: 70%;
  }
}
