.header {
    position: absolute;
    width: 100%;
    padding: 10px 15px;
    z-index: 2;

    @include for-size(tablet) {
        padding-top: 15px;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}