.result {
  background-color: rgb(239, 252, 254);
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../images/result/mobile/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  box-shadow: 0px 6px 15px 4px rgba(34, 60, 80, 0.4);
}

.result-title {
  color: var(--white-cl);
}

.img-result {
  margin-bottom: 20px;
  text-align: justify;
  color: white;
}

.list-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  .item {
    padding: 20px 10px;
    width: 250px;
    text-align: center;
    background-color: var(--white-cl);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .text {
      margin-top: 10px;
    }
    .icon {
      width: 70px;
      height: 70px;
      fill: #55dae9;
    }
  }
}

.analysis-box {
  padding: 20px 10px;
  color: var(--white-cl);
  background-color: #3b69b2;
  border-radius: 6px;
  box-shadow: var(--box-shadow-default);

  .caption {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.02em;
  }

  .overhead-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .overhead {
      &:last-child {
        display: flex;
        flex-direction: column;
        text-align: right;
      }
    }
  }
}

.list-result {
  .item {
    display: flex;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .line-design {
      flex-grow: 1;
      margin: 0 3px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}

@include for-size(tablet) {
  .result {
    background-image: none;
    box-shadow: none;
  }
  .container {
    position: relative;
  }
  .result-title {
    text-align: left;
    color: var(--section-title-cl);
  }
  .img-result {
    display: none;
  }
  .result-shared-box {
    display: flex;
  }
  .list-testimonial {
    padding: 20px;
    margin: 0;
    background-image: linear-gradient(
        180deg,
        rgba(75, 150, 179, 0.6) 0%,
        rgba(75, 150, 179, 0.6) 50%,
        rgba(75, 150, 179, 0.6) 100%
      ),
      url(../images/result/bg/bg-result.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%, 70% 0%;
    box-shadow: var(--box-shadow-blue);
  }
  .analysis-box {
    position: absolute;
    top: 15%;
    left: 0;
    width: 430px;
    box-shadow: none;
  }
}
@include for-size(desktop) {
  .result {
    padding-bottom: 200px;
  }
  .result-shared-box {
    justify-content: space-between;
  }
  .img-result {
    display: block;
    margin: 0;
    padding: 50px 20px;
    width: 650px;
    color: var(--main-text-cl);
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.6) 100%
      ),
      url(../images/result/analysis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0, 0 -24px;
    box-shadow: var(--box-shadow-default);

    p {
      font-size: 18px;
    }
  }
  .list-testimonial {
    padding: 20px 80px;
  }
  .analysis-box {
    top: 60%;
    left: 0;
    width: 685px;
    box-shadow: var(--box-shadow-blue);
  }
}
