.result {
    background-image: linear-gradient(180deg, rgba(75,150,179,0.5018382352941176) 0%, rgba(75,150,179,0.40379901960784315) 50%, rgba(75,150,179,0.30015756302521013) 100%);

    .section-title {
        color: var(--white-cl);
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        .item {
            padding: 20px 10px;
            width: 250px;
            text-align: center;
            background-color: var(--white-cl);
            -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .text {
                margin-top: 10px;
            }

            .icon {
                width: 70px;
                height: 70px;
                fill: #55dae9;
            }
        }
    }

    @include for-size(tablet) {
        background-image: none;

        .container {
            position: relative;
        }

        .box {
            display: flex;

            .section-title {
                color: var(--section-title-cl);
            }
            .list {
                padding: 20px;
                margin: 0;
                background-image: linear-gradient(180deg, rgba(75,150,179,0.6) 0%, rgba(75,150,179,0.6) 50%, rgba(75,150,179,0.6) 100%), url(../images/result/bg/bg-result.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0% 0%, 70% 0%;
                box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            }
        }
    }
    @include for-size(desktop) {
        .box {
            justify-content: space-between;

            .list {
                padding: 20px 80px;
            }
        }
    }
}

.analysis-box {
    padding: 20px 10px;
    color: var(--white-cl);
    background-color: #3B69B2;
    border-radius: 6px;
    background-image: url(../images/result/bg/vector.png), url(../images/result/bg/vector.png);
    background-repeat: no-repeat;
    background-size: 50%, 50%;
    background-position: 0% 0%, 100% 100%;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    .caption {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.02em;
    }

    .overhead-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .overhead {

            &:last-child {
                display: flex;
                flex-direction: column;
                text-align: right;
            }
        }
    }

    .result-list {

        .item {
            display: flex;
            line-height: 1;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            .line-design {
                flex-grow: 1;
                margin: 0 3px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }

    @include for-size(tablet) {
        position: absolute;
        top: 15%;
        left: 0;
        width: 430px;
        background-size: 48%, 50%;
        box-shadow: none;
    }
    @include for-size(desktop) {
        top: 60%;
        left: 7%;
        width: 730px;
        background-image: url(../images/result/bg/vector-turn.png);
        background-size: cover;
        background-position: 100% 0%;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    }
}